.vs/
bin/
obj/
*.dll
*.exe
*.pdb
*.dll.mdb
*.user
*.suo
*.cache
*.log
*.bak
*.vspscc
*.orig
*.csproj.user
*.pidb
*.suo
*.sln.docstates
bin/
obj/
packages/
*.nupkg
*.pfx
*.snk
_PublishedWebsites/
*.pubxml
*.publishproj
node_modules/
bower_components/
packages.config
*.sln.cache
